.main-wrapper {
  padding-left: 275px;
  height: 100%;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page-wrapper {
  height: 100%;
}

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 275px;
  margin-left: -275px;
  width: 275px;
  height: 100%;
  overflow-y: auto;
  background-color: black;
  color: white;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

.sidebar-brand {
  padding: 20px;
  font-weight: bold;
}

.sidebar-nav {
  padding-left: 15px;
  padding-right: 15px;
  list-style: none;
}

.sidebar-toggle {
  padding: 10px 15px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 275px;
  cursor: pointer;
}

.main-wrapper.toggled {
  padding-left: 0;
}

.toggled .sidebar-wrapper {
  margin-left: -275px;
  left: 0;
}
